---
layout: default
---

<!doctype html>
  <head>
    <title>{{ page.title }}</title>
  </head>
  <body>
<article class="page">
<a href="http://hualin-ok.github.io"><img style="float: right; width: 90px; margin: 0px 5px 0px" src="/images/Me_regards1.png"></a>
<h1> <img style="float: center; width: 40px; margin: 0px 0px 0px" src="/images/logo-goldB.jpg">  Hua Lin, Ph.D </h1>

  <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/research">Research</a>
      <a href="/publications/">Publications</a>
    
</br> 
  
<a href="https://www.researchgate.net/profile/Hua_Lin30"><img style="float: right; width: 20px; margin-right: 5px;" src="/images/RG_logo.png"> </a>
<a href="https://scholar.google.com/citations?user=tS3Zw8cAAAAJ&hl=en"><img style="float: right; width: 25px; margin-right: 5px;" src="/images/GS_logo.jpg"></a>
<a href="mailto:hua.lin@dokstate.edu"><img style="float: right; width: 35px; margin-right: 5px;" src="/images/email1_logo.jpg"></a>

    <h1>{{ page.title }}</h1>
   </nav>
    <section>
      {{ content }}
    </section>
</article>
  <footer>
      &copy; <h8><div style="text-align: right">Hua Lin, hua.lin@okstate.edu</div></h8>
    </footer>
  </body>
</html>
