---
layout: default
---

<!doctype html>
  <head>
    <title>{{ page.title }}</title>
    <style>
     .link { color: #008000;  font-size: 15px;} /* CSS link color */
     .link:hover { color: #808000; font-weight:bold;font-size: 15px;} /* CSS link hover color */
    </style>
  </head>
  <body>
<article class="page">
<a href="http://hualin-ok.github.io"><img style="float: right; width: 90px; margin: 0px 5px 0px" src="/images/Me_regards1.png"></a>
<h1> <a href="http://hualin-ok.github.io"><img style="float: center; width: 40px; margin: 0px 0px 0px" src="/images/logo-goldB.jpg"></a>  Hua Lin, Ph.D </h1>

  <nav>
     <a class="link" href="/">Home</a> \ 
      <a class="link" href="/about/">About</a> \
      <a class="link" href="/research">Research</a> \
      <a class="link" href="/publications/">Publications</a> \
      <a class="link" href="/workshops/">Workshops</a>
    
</br> 
  
<a href="https://www.researchgate.net/profile/Hua_Lin30"><img style="float: right; width: 20px; margin-right: 5px;" src="/images/RG_logo.png"> </a>
<a href="https://scholar.google.com/citations?user=tS3Zw8cAAAAJ&hl=en"><img style="float: right; width: 25px; margin-right: 5px;" src="/images/GS_logo.jpg"></a>
<a href="mailto:hua.lin@dokstate.edu"><img style="float: right; width: 35px; margin-right: 5px;" src="/images/email1_logo.jpg"></a>
   </nav>
    <section>
    <h1>{{ page.title }}</h1>
      {{ content }}
    </section>
</article>
  <footer>
      <h8><div style="text-align: right">&copy; Hua Lin, hua.lin@okstate.edu</div></h8>
    </footer>
  </body>
</html>
