---
layout: default
---
 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2Q1NTVLX7P"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2Q1NTVLX7P');
</script>


<!doctype html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <style>
     .link { color: #000000; font-size: 15px; }
     .link:hover { color: #808000; font-weight: bold; font-size: 15px; }
    </style>
  </head>
  <body>
<a href="/zh/"><img style="float: right; width: 90px; margin: 0px 5px 20px" src="/images/Me_regards1.png"></a>
<h1>
  <a href="/zh/"><img style="float: center; width: 40px; margin: 0px 0px 0px" src="/images/logo-goldB.jpg"></a>
  桦林博士
</h1>
  <nav>
    <a class="link" href="/zh/">首页</a> \
    <a class="link" href="/zh/workshops/">家庭工作坊</a> \
    <a class="link" href="/zh/insights/">研究者说</a>
    &nbsp;&nbsp;&nbsp;
    <a class="link" href="/" style="color: #808080; font-size: 13px;">English</a>
 
<a href="mailto:hua.lin@okstate.edu"><img style="float: right; width: 35px; margin-right: 5px;" src="/images/email1_logo.jpg"></a>
<a href="https://www.researchgate.net/profile/Hua_Lin30"><img style="float: right; width: 20px; margin-right: 5px;" src="/images/RG_logo.png"></a>
<a href="https://scholar.google.com/citations?user=tS3Zw8cAAAAJ&hl=en"><img style="float: right; width: 25px; margin-right: 5px;" src="/images/GS_logo.jpg"></a>
<a href="https://experts.okstate.edu/hua.lin"><img style="float: right; width: 35px; margin-right: 2px;" src="/images/osu-logo.png"></a>
  </nav>
<article class="page">
    <section>
      {{ content }}
    </section>
</article>
  <footer>
      <h8><div style="text-align: right">&copy; 桦林 &nbsp;|&nbsp; hua.lin@okstate.edu</div></h8>
    </footer>
  </body>
</html>
